/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* section1 */
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    background-color: gainsboro;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.left-block {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
.center-block {
    width: 300px;
    height: 300px;
    background-color: hotpink;
}
.right-block {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
}
/* images example */
.img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.image-block {
    width: 250px;
}
.image-block img {
    width: 100%;
}
/* header */
.navigation-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.burger-icon {
    font-size: 30px;
    color: red;
    margin-right: 15px;
    display: none;
}
.container,.image-block img{width:100%}.container{max-width:1170px;margin:0 auto;background-color:#dcdcdc}.center-block,.left-block,.right-block{width:300px;height:300px}.img-wrapper,.wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap}.left-block{background-color:#8a2be2}.center-block{background-color:#ff69b4}.right-block{background-color:#6495ed}.image-block{width:250px}.navigation-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.nav-ul{display:-webkit-box;display:-ms-flexbox;display:flex}.burger-icon{font-size:30px;color:red;margin-right:15px;display:none}